/data/fedprox_raw/fedprox_femnist/data/test/mytest.json
/data/fedprox_raw/fedprox_femnist/data/train/mytrain.json
/data/fedprox_raw/fedprox_femnist/data/my_sample.py
/data/fedprox_raw/fedprox_femnist/preprocess/data_to_json.py
/data/fedprox_raw/fedprox_femnist/preprocess/data_to_json.sh
/data/fedprox_raw/fedprox_femnist/preprocess/get_data.sh
/data/fedprox_raw/fedprox_femnist/preprocess/get_file_dirs.py
/data/fedprox_raw/fedprox_femnist/preprocess/get_hashes.py
/data/fedprox_raw/fedprox_femnist/preprocess/group_by_writer.py
/data/fedprox_raw/fedprox_femnist/preprocess/match_hashes.py
/data/fedprox_raw/fedprox_femnist/preprocess.sh
/data/fedprox_raw/fedprox_femnist/README.md
/data/fedprox_raw/fedprox_femnist/stats.sh
/data/fedprox_raw/fedprox_mnist/data/mldata/mnist-original.mat
/data/fedprox_raw/fedprox_mnist/data/test/all_data_0_niid_0_keep_10_test_9.json
/data/fedprox_raw/fedprox_mnist/data/train/all_data_0_niid_0_keep_10_train_9.json
/data/fedprox_raw/fedprox_mnist/generate_niid.py
/data/fedprox_raw/fedprox_mnist/README.md
/data/fedprox_raw/fedprox_synthetic_0.5_0.5/data/test/mytest.json
/data/fedprox_raw/fedprox_synthetic_0.5_0.5/data/train/mytrain.json
/data/fedprox_raw/fedprox_synthetic_0.5_0.5/generate_synthetic.py
/data/fedprox_raw/fedprox_synthetic_0.5_0.5/README.md
/data/fedprox_raw/fedprox_synthetic_0_0/data/test/mytest.json
/data/fedprox_raw/fedprox_synthetic_0_0/data/train/mytrain.json
/data/fedprox_raw/fedprox_synthetic_0_0/generate_synthetic.py
/data/fedprox_raw/fedprox_synthetic_0_0/README.md
/data/fedprox_raw/fedprox_synthetic_1_1/data/test/mytest.json
/data/fedprox_raw/fedprox_synthetic_1_1/data/train/mytrain.json
/data/fedprox_raw/fedprox_synthetic_1_1/generate_synthetic.py
/data/fedprox_raw/fedprox_synthetic_1_1/README.md
/data/fedprox_raw/fedprox_synthetic_iid/data/test/mytest.json
/data/fedprox_raw/fedprox_synthetic_iid/data/train/mytrain.json
/data/fedprox_raw/fedprox_synthetic_iid/generate_iid.py
/data/fedprox_raw/fedprox_synthetic_iid/README.md
/.idea/.gitignore
/.idea/modules.xml
/.idea/NIID-Bench.iml
/.idea/vcs.xml
